body
{
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* flex-direction: column; */
    margin: 10px;
    /* font-display ; */
    font-size: 20px;
    font: 1em sans-serif;
    overflow: visible;
}

header
{
    /* display: ; */
    position:fixed;

}

m
{
    display: flex;

    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

#header
{
    display: flex;
    align-items: center;
    border: 1px rgb(100, 100, 100) solid;
    border-radius: 10px;
    /* justify-self:baseline; */
    /* width:max-content; */
    /* height: 64px; */
    /* background-color: aqua; */
}

#header
{
    flex: 1;
}

foot
{
    /* background-color:rgb(200,200,200); */
    /* width; */
    display: flex;
}
footer
{
    flex: 1;
    height: 96px ;
    border: 1px rgb(100, 100, 100) solid;
    border-radius: 10px;
    text-align: center;
}

m
{
    display: flex;
    justify-content: space-between;
    /* align-items:space-between ; */
    margin-left: 300px;
}

h1, h2, h3, h4
{
    /* font-size: 60px; */
    font: bold;
}
h1:hover, h2:hover, h3:hover, h4:hover
{
    text-decoration: underline;
}

a
{
    color: blue;
}
a:visited
{
    color: rgb(200,200,200);
}

main
{
    display: flex; 
    justify-content: space-between;   
}

#param
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    /* justify-content: space- ; */
    /* justify-items: ; */
    /* justify-content: space-between; */
    

    background-color: white;

    border: 1px rgb(175, 175, 175) solid;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgb(200, 200, 200);
    /* position: fixed; */
    width: 240px ;
    height: 720px;
}
#param span
{
    margin-top: 20px;
    text-align: center;
    width: 200px;
    height: 48px;
    border-radius: 10px;
    /* text-justify: inter-word; */
    /* border-bottom: 1px gray solid; */
    font-display: bold;
    /* color: rgb(200, 200, 200); */
}
#param span:hover
{
    background-color: rgb(250, 250, 250);
}
#param span:active
{
    background-color: rgb(175, 175, 175);
}
#param #sep
{
    width: 224px;
    border-top: 1px grey solid;
}


main #passwords 
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-content: space-around; */

    text-align: center;
    border: 1px black solid;
    border-radius: 10px;
    height: max-content;
    width: 512px;
    flex: 1;
    /* text-justify: inter-word; */
    
}

main #passwords #option #ajouter
{
    width: 96px;
    height: 32px;
    color: blue;
    font-style: italic;
    font-size: 20px;
}

main #passwords #option
{
    display: flex;
    margin-top: 20px;
    display: flex;
    justify-content: center;


    height: 64px ;
    align-items: flex-end;
    /* border: 1px rgb(175, 175, 175) solid; */
    border-radius: 10px;
}

.NewPW
{
    margin-top: 20px;
    background-color: rgb(250, 250, 250);
    border-radius: 45px;
    height: 32px;
    /* width: 512px; flex: 1; */
    text-align: center;
}

/* ____________________________________________________ */

@media screen and (max-width: 1280px)
{
    #param
    {
        display: none;
    }

    m
    {
        margin-left: 0px;
    }
    body
    {
        margin: 0px;
    }
}
